/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/07/2020, 23:19:00
    Author     : Hamilton
*/
body {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 28px;
}
h1 {
  letter-spacing: -15px;
  font-family: Open Sans;
  color: white;
  text-align: center;
  font-size: 200px;
  font-weight: 800;
  line-height: 200px;
}
.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.ContentContainer {
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
}
.Content {
  max-width: 750px;
  margin: 0 auto;
  padding: 75px 0;
}
p {
  margin: 75px 0;
}
.ParallaxContainer {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
  background: url(https://i.imgur.com/y0Da7Pi.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-color: #fae4d8;
}
