<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<decorate   xmlns="http://www.w3.org/1999/xhtml"
            xmlns:h="http://java.sun.com/jsf/html"            
            xmlns:p="http://primefaces.org/ui"           
            template="template.xhtml" 
            xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        
        <title> JAVA </title>
        
    </h:head>
                
        <ui:composition template="./template.xhtml">
            <ui:define name="conteudo">    
                <h:form>
                    <h:form styleClass="container-fluid">
                        <p:outputPanel deferred="true" class="container-fluid">
                            <h:panelGroup style="padding:40px; text-align: justify;">
                            <h3 align="center">O Melhor Atendimento em TI.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </h:panelGroup>
                            
            <h:form>
                <p:breadCrumb>
                                
                    <p:menuitem value="Admin" outcome="adminUser.xhtml" />           
                   
                </p:breadCrumb> 
            </h:form>

                        </p:outputPanel>
                        <div style="height:50px"></div>
                        <h:panelGroup class="container-fluid">
                            <h5 align="center">TECNOLGIAS DE DESENVOLVIMENTO</h5>
                            <h:panelGroup class="ui-g">                     
                                <h:panelGroup class="ui-g-12 ui-md-6 ui-lg-3">
                                    <h4> Bootsface</h4>
                                </h:panelGroup>           
                                <h:panelGroup class="ui-g-12 ui-md-6 ui-lg-3">
                                    <h4> PrimeFacesss</h4>
                                </h:panelGroup>                    
                                <h:panelGroup class="ui-g-12 ui-md-6 ui-lg-3">
                                    <h4> Hibernate</h4>                       
                                </h:panelGroup>                    
                                <h:panelGroup class="ui-g-12 ui-md-6 ui-lg-3">
                                    <h4> JSF</h4>                        
                                </h:panelGroup>            
                            </h:panelGroup>
                        </h:panelGroup>              
                    </h:form>
                    
                </h:form>
                    
            </ui:define>            
        </ui:composition>
 
    
    <h:outputScript library="js" name="bootstrap.min.js"/>
    <h:outputScript library="js" name="slider.js"/>
</decorate>
