<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:decorate  xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://xmlns.jcp.org/jsf/html"             
              xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
              xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
   
    <h:body>
         <ui:composition template="./template.xhtml">
            <ui:define name="conteudo">
                <h:panelGrid>
                      
                    <h:panelGroup class="container">
                        <h:panelGroup class="row">                           
                            <h:panelGroup class="col-sm-4">
                                <h3>Column 1</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                            </h:panelGroup>
                           
                            <h:panelGroup class="col-sm-4">
                                <h3>Column 2</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                            </h:panelGroup>
                            
                            <h:panelGroup class="col-sm-4">
                                <h3>Column 3</h3>        
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                    
                </h:panelGrid>         
            </ui:define>            
        </ui:composition>        
    </h:body>
</ui:decorate>
